/* en el key listener hacer una validacion de mayus a minus y ese valor cargarlo en la caja de texto  
y la longitud minima*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  background: #e6e6e6;
}

.inicio video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 80%;
  height: 100vh;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  object-fit: fill;
  left: 10%;
  z-index: 2;
}
.home {
  /* position:relative; */

  /* z-index: 5; */
  height: 100vh;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 16.66% 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25% 25%;
}
#sombra {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 3;
}
#sombra2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 2;
}

#onda {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
}
#logoContenedor {
  /* border: 2px solid green; */
  grid-column: 3/5;
  grid-row: 1/2;
  z-index: 3;
  justify-self: center;
  align-self: start;
}
#logo {
  width: 100%;
  /* border: 2px solid green; */
}

#logoIMG {
  width: 70%;
  border: 2px solid green;
  grid-column: 3/5;
  grid-row: 1/2;
  z-index: 3;
  justify-self: center;
}

#caja {
  width: 60%;
  height: 100%;
  z-index: 4;
  grid-column: 4/6;
  justify-self: end;
  align-self: start;
  grid-row: 3/5;
}
#texto1 {
  font-family: "Amatic SC", cursive;
  color: white;
  font-size: 160%;

  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-weight: normal;
}

#textoContenedor {
  z-index: 3;
  grid-column: 2/4;
  grid-row: 3/4;
  align-self: start;
}
#miniatura {
  width: 55%;
  height: 45%;
  z-index: 3;
  grid-column: 2/4;
  grid-row: 2/4;
  align-self: start;
}

#marco {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgb(2, 0, 36); */
  background: rgb(41, 87, 136);
  background: linear-gradient(
    90deg,
    rgba(41, 87, 136, 1) 0%,
    rgba(83, 150, 221, 1) 52%,
    rgba(41, 87, 136, 1) 100%
  );
  /* background-color: rgb(10, 94, 250); */
  opacity: 1;
  z-index: 1;
}

#marcoIMG {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgb(2, 0, 36); */
  /* background-color: rgb(10, 94, 250); */
  opacity: 1;
  z-index: 1;
}

#flechaContenedor {
  z-index: 4;
  grid-column: 2/3;
  grid-row: 4/5;
  justify-self: center;
  animation: animacionFlecha 2s infinite;
}
#flecha {
  z-index: 4;
}
@keyframes animacionFlecha {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}
/* ------------------------------------- */
/* Sección 'descripcion' */
/* ------------------------------------- */
.section {
  /* border: 5px green solid; */
}
.descripcion {
  background-color: white;
}
.descripz {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url("graficos/patron-nubes.png"),
    radial-gradient(157.09% 157.09% at 80% 52.15%, #ffffff 0%, #cfcdcd 100%);
  background-blend-mode: soft-light 10%;
  background-position: 0 0;
  background-repeat: round;
  animation: animate 40s linear infinite;
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100vw 0;
  }
}

#ondaverde {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#mejorcont {
  z-index: 2;
  height: 70%;
}

#mejorcont img {
}
#globos1 {
  /* left:-20px; */
  /* animation: rubberBand 5s infinite; */
}
.fondoTxt {
  background-color: #b6e7eb;
  padding: 4%;
  border-radius: 1em;
}
.fondoTxt2 {
  background-color: #ffffff;
  padding: 4%;
  border-radius: 0.5em;
}
#title-desc-1 {
  font-size: 2em;
}
.desctexts {
  text-align: center;
  z-index: 2;
  width: 125%;
  margin-top: 20px;
}
#parrafo1 {
  opacity: 0;
}
#parrafo2 {
  opacity: 0;
}
#parrafo3 {
  opacity: 0;
}
#parrafo4 {
  opacity: 0;
}
.desctexts p {
  color: #727272;
  text-shadow: 1px 1px 1px rgba(37, 168, 255, 0.657);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 22px;
  letter-spacing: 0.005em;
  margin-top: 10px;
}

/* .desctexts h3 {
  text-shadow: 1px 1px 1px rgba(5, 84, 158, 0.445);
  color: #68a7dd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.005em;
} */
.desctexts h3 {
  text-shadow: 1px 1px 1px rgba(146, 146, 146, 0.445);
  color: #ffffff;
  font-family: "Amatic SC", cursive;
  font-style: normal;
  font-weight: 560;
  font-size: 2em;
  line-height: 24px;
  letter-spacing: 0.005em;
}

#text3 h3,
#text4 h3 {
  color: #e0ff14;
}

#text3 p,
#text4 p {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(230, 178, 8, 0.698);
}

/* ------------------------------------- */
/* Sección 'comparacion' */
/* ------------------------------------- */

.peques {
  background-color: #36cce5;
}

.cntinfo img,
.cntcaja img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 40px; */
}

.cntcaja :nth-child(2) {
  width: 80%;
  margin-top: -5%;
}
#txt {
  text-align: center;
  font-family: "Amatic SC";
  font-size: 3em;
  color: white;
  font-weight: 550;
}

.cntlecheComun img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.rayo img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bandera img {
  width: 95%;
}

.cnticonos {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
  color: white;
  line-height: 151.4%;
  text-align: center;
  letter-spacing: 0.005em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#btninfo {
  width: 60%;
  cursor: pointer;
  /* box-shadow: -10px -10px 30px teal; */
}

.cnticonos div {
  width: 40%;
}
.icono {
  width: 20%;
  /* max-width: 20%; */
  cursor: pointer;
}
.omega {
  /* animation: bounce 4s infinite; */
  /* animation: rotando 10s infinite; */
}

#nube1 {
  width: 50%;
}
#nube2 {
  width: 30%;
}

.nube1 {
  width: 20%;
}
.avion img {
  /* border: orange 2px solid; */
  position: relative;
  width: 50%;
  z-index: 3;
  /* justify-self: center; */
}
